/**
 * Setting up image background above the picture
 * to make it disapere while image is drawing
 */

@-webkit-keyframes imgBackground {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes imgBackground {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.imgBackground {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: imgBackground;
  animation-name: imgBackground;
  position: absolute;
  height: inherit;
  width: inherit;
  z-index: 200;
}

/**
 * 1st step: drawing borders with a pencil
 */

@-webkit-keyframes borderPencil {
  from {
    -webkit-filter: brightness(10) contrast(10) grayscale(1);
    opacity: 0;
  }

  to {
    -webkit-filter: brightness(3) contrast(10) grayscale(1);
    opacity: 1;
  }
}

@keyframes borderPencil {
  from {
    -webkit-filter: brightness(10) contrast(10) grayscale(1);
    filter: brightness(10) contrast(10) grayscale(1);
    opacity: 0;
  }

  to {
    -webkit-filter: brightness(3) contrast(10) grayscale(1);
    filter: brightness(3) contrast(10) grayscale(1);
    opacity: 1;
  }
}

.borderPencil {
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: borderPencil;
  animation-name: borderPencil;
  visibility: visible;
  display: block;
  z-index: 100;
}
