html {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;

  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  text-size-adjust: none;
  font-family: monospace;
  font-weight: 400;

  background-color: rgb(0, 0, 0);
  backface-visibility: hidden;
  color: rgb(0, 204, 0);
  appearance: none;

  user-select: none;
  overflow: hidden;

  max-height: 100%;
  min-height: 100%;

  max-width: 100%;
  min-width: 100%;

  height: 100%;
  width: 100%;

  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  height: 100%;

  padding: 0;
  margin: 0;
}

#image-container {
  transform: translate(-50%, -50%);

  text-align: center;
  position: absolute;

  max-height: 675px;
  max-width: 1200px;

  width: 75%;
  left: 50%;
  top: 50%;
}

img#image {
  display: block;
  margin: 0 auto;
}

img#image.full-height {
  height: 100%;
  width: auto;
}

img#image.full-width {
  height: auto;
  width: 100%;
}

input#input {
  position: absolute;
  visibility: hidden;

  z-index: -1;
  opacity: 0;
}

#code-container {
  transition: height 0.5s cubic-bezier(0.755,  0.050, 0.855, 0.060), opacity 0.5s;
  background-color: rgba(31, 31, 31, 0.9);

  pointer-events: all;
  user-select: auto;
  position: fixed;

  padding: 25px;
  margin: auto;
  z-index: 1;

  height: 120px;
  width: 375px;

  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

#code-container.object {
  height: 250px;
}

#code-container.callback {
  height: 200px;
}

#code-container.object.callback {
  height: 320px;
}

#code-container.pencil {
  height: 365px;
}

#code-container.pencil.object {
  height: 480px;
}

#code-container.pencil.callback {
  height: 440px;
}

#code-container.pencil.callback.object {
  height: 560px;
}

.close-button-container {
  margin-bottom: 20px;
  margin-left: auto;

  position: relative;
  text-align: right;
  cursor: pointer;

  height: 20px;
  width: 20px;
}

.close-button-container:hover {
  animation: rotate 0.5s cubic-bezier(0.895,  0.030, 0.685, 0.220) forwards;
}

.close-button-container .close-button {
  background-color: rgb(221, 221, 221);
  position: absolute;

  height: 2px;
  width: 20px;

  right: 0;
  top: 9px;
}

.close-button-container .close-button.left {
  transform: rotate(45deg);
}

.close-button-container .close-button.right {
  transform: rotate(-45deg);
}

code.code-preview {
  color: rgb(221, 221, 221);
  margin-bottom: 25px;
  line-height: 20px;

  font-weight: 300;
  font-size: 16px;
  display: block;

  height: 80%;
  width: 100%;
}

code.code-preview span,
code.code-preview code {
  font-style: italic;
  position: relative;
  cursor: default;
}

code.code-preview span::selection,
code.code-preview code::selection {
  background-color: rgb(221, 221, 221);
  color: rgb(0, 0, 0);
}

code.code-preview .coma {
  transition: opacity 0.3s;
  display: inline-block;
  margin-left: -10px;
}

code.code-preview .callback-function {
  transition: opacity 0.5s;
}

code.code-preview .callback-function.code {
  transition: opacity 0.3s;
}

code.code-preview .pencil-options {
  transition: opacity 0.3s;
}

code.code-preview span.number {
  color: #AE81FF;
}

code.code-preview span.string {
  color: #E6DB74;
}

code.code-preview span.function {
  color: #66D9EF;
}

.hidden {
  pointer-events: none;
  opacity: 0;
}

.dg.a {
  width: 260px !important;
  overflow-x: initial;
  position: relative;
  margin-right: 0;
}

@media only screen and (max-width: 991px) {
  #image-container {
    transform: translateY(-50%);
    max-width: 100%;

    margin: auto 0;
    width: 100%;
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  #code-container {
    padding: 15px;
    width: 330px;
  }

  code.code-preview {
    font-size: 14px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-90deg);
  }
}
